.menu {
  color: greenyellow;
  font-size: larger;
  font-weight: bolder;
}
.parrafo {
  color: darkblue;
  font-style: italic;
}
.tituloparrafo {
  color: darkmagenta;
  font-weight: bolder;
  font-size: larger;
}
